.aboutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-content);
  overflow: scroll;

}

.aboutBox::-webkit-scrollbar {
  display: none;
}

.paragraph {
  span {
    display: inline-block;
    font-weight: 800;
  }
}

li {
  span {
    display: inline-block;
    font-weight: 800;
  }
}