.languagePage::-webkit-scrollbar {
  display: none;
}
.languagePage {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--width-content);
  overflow: scroll;
}

.languageGrid {
  display: grid;
  grid-template-columns: 22rem 22rem; /* 2 columns */
  grid-gap: 20px;
}

.languageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}