.vocabularyBox::-webkit-scrollbar {
  display: none;
}

.vocabularyBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--width-content);
  overflow: scroll;
}