.vocabularyContainer {
  margin-top: 2rem;
}

.vocabularyBox::-webkit-scrollbar {
  display: none;
}

.vocabularyBox {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: var(--width-content);
  overflow: scroll;
}

.wordGrid {
  display: grid;
  grid-template-columns: 14rem 14rem 14rem; /* 3 columns */
  grid-gap: 1rem;
}