.vocabularyPage {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: flex-start;
}

.vocabularyBox::-webkit-scrollbar {
  display: none;
}

.vocabularyBox {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: var(--width-content);
  align-items: center;
  overflow: scroll;
}

.wordGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  grid-auto-rows: 8rem;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .vocabularyBox {
    width: 90vw;
  }
  .wordGrid {
  grid-template-columns: 1fr 1fr; /* 1 columns */
  grid-auto-rows: 6rem;
}
}