.customSelectContainer {
  position: relative;
  width: 100%;
  background-color: transparent;
  min-width: 8rem;
}

.customSelectButton {

  background-color: var(--color-primary-dark);
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-accent-dark);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
}

.customSelectButton:hover {
  border: 1px solid var(--color-accent);
}


.dropDownList {
  background-color: var(--color-primary-dark);
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  min-width: fit-content;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.option {
  background-color: var(--color-primary);
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.option:hover {
  background-color: var(--color-primary-dark);
}