.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: var(--color-primary-dark);
}

.leftSection, .centerSection, .rightSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 0rem 1rem;
}

.leftSection {
    justify-content: flex-start;
}
.centerSection {
    justify-content: center;
}
.rightSection {
    justify-content: flex-end;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    width: 50%
}

.icon {
    svg {
        height: 30px;
        width: 30px;
        fill: var(--color-accent);
    }
}

.version {
    color: var(--color-text-light);
    font-size: 0.9rem;
    font-weight: 600;
}