.languageCard {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 16rem;
    height: 10rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow-lg);
    background-color: rgb(from var(--color-primary-dark) r g b / 0.5);
    p {
        font-size: small;
        font-style: italic;
    }
}

.languageNames {
    display: flex;
    flex-direction: column;
    flex: 1;    
    align-items: center;
    justify-content: center;
    h2, h4 {
        margin: 0;
        padding: 0;
    }
}
