.languageBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    h2 {
        padding: 0rem 1rem;
        margin: 0.2rem;
    }
}

@media (max-width: 768px) {
    .languageBar {
        flex-direction: column;
    }
}