  .progressBar {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 10px;
    background-color: rgb(from var(--color-accent) r g b / 0.5);
    margin: 0.5rem;
    border-radius: 0.1rem;
  }

  .progress {
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 0.1rem;
  }

  .segmented {
    margin-right: 1px;
    width: 10%
  }