.wordCard {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 12rem;
    height: 5rem;
    padding: 1rem;
    box-shadow: var(--shadow-lg);
    background-color: rgb(from var(--color-primary-dark) r g b / 0.5);
    transition-delay: 0.3s;
    transition-property: transform, transition-duration;
    p {
        font-size: x-small;
    }
}

.flipped {
    background-color: var( --color-accent);
    color: var(--color-primary-dark)
}

.wordCard:hover {
    cursor: pointer;
    transform: scale(105%);
    transition-duration: 0.5s;
}

.wordData {
    display: flex;
    flex-direction: row;
    width: 100%;

}
