.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
}
.header, .footer {
  flex-shrink: 0;
}

.pageContent {
  flex: 1;
  overflow: auto;
}
