.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
}

.header {
  height: 6rem;
}

.footer {
  height: 4rem;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}
