.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
}

.header {
  height: 6rem;
}

.footer {
  height: 4rem;
}

.pageContent {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}


@media (max-width: 768px) {
  .header {
    height: 8rem;
  }

  .footer {
    height: 2rem;
  }

  .pageContent {
    display: flex;
    flex: 1;
    width: 100vw;
  }

}
