
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary-dark);
    position: sticky;
    width: 100%;
    h1 {
        margin: 1vw;
        padding: 1vw;
    }
}
