.wordCard {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 16rem;
    height: 10rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow-lg);
    background-color: rgb(from var(--color-primary-dark) r g b / 0.5);
    transition-delay: 0.3s;
    transition-property: transform, transition-duration;
    p {
        font-size: small;
    }
}
