.languageBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h2 {
        padding: 0rem 1rem;
        margin: 0.2rem;
    }
}

.availableLanguages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.languageDropdown select {
    appearance: none;
    background-color: var(--color-primary-dark);
    color: var(--color-accent);
    font-size: var(--font-size-medium);
    border: none;
    height: 4rem;
    width: 5rem;
    margin: 0rem 0.5rem;
}

/* .hiddenInput {
    background-color: var(--color-primary-dark);
    color: var(--color-accent);
    font-size: var(--font-size-medium);
    border: none;
    height: 2rem;
    width: 6rem;
    margin: 0rem 0.5rem;
}

.hiddenInput:hover {
    cursor: pointer;
    font-weight: bold;
} */

.option {
    color: green;
}

.languageHeadings {
    opacity: 0.5;
}
.languageHeadings:hover {
        opacity: 1;
    }

.selected {
    color: var(--color-accent-dark);
    opacity: 1;
}