
.vocabularyBox::-webkit-scrollbar {
  display: none;
}
.vocabularyBox {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    overflow: scroll;
}